USE [master]
GO
/****** Object:  Database [WineStore]    Script Date: 7/16/2017 1:29:37 PM ******/
CREATE DATABASE [WineStore]  
GO
USE [WineStore]
GO
/****** Object:  Table [dbo].[Catalogy]    Script Date: 7/16/2017 1:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Catalogy](
	[CatalogyID] [nchar](10) NOT NULL,
	[CatalogyName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_Catalogies] PRIMARY KEY CLUSTERED 
(
	[CatalogyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/16/2017 1:29:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Description] [text] NULL,
	[PurchasePrice] [numeric](8, 2) NOT NULL,
	[Price] [numeric](8, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Vintage] [nchar](20) NULL,
	[CatalogyID] [nchar](10) NOT NULL,
	[Image] [text] NULL,
	[Region] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Catalogy] ([CatalogyID], [CatalogyName], [Description]) VALUES (N'001', N'Red Wines', N'this is red wine')
INSERT [dbo].[Catalogy] ([CatalogyID], [CatalogyName], [Description]) VALUES (N'002', N'White Wines', N'this is white wine')
INSERT [dbo].[Catalogy] ([CatalogyID], [CatalogyName], [Description]) VALUES (N'003', N'Sparkling Wines', N'this is sparkling Wine')
INSERT [dbo].[Product] ([ProductID], [ProductName], [Description], [PurchasePrice], [Price], [Quantity], [Vintage], [CatalogyID], [Image], [Region]) VALUES (300, N'ATA RANGI CRAIGHALL CHARDONNAY', N'Deliriously top class, this premium Chardonnay has all you can want - crisp freshness and exceptional length. In 07 it outclasses the Pinot (in our view) ', CAST(55.95 AS Numeric(8, 2)), CAST(59.95 AS Numeric(8, 2)), 300, N'2007', N'001', N'Chardonnay1.jpg', N'Martinborough, New Zealand')
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Products_Catalogy] FOREIGN KEY([CatalogyID])
REFERENCES [dbo].[Catalogy] ([CatalogyID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Products_Catalogy]
GO
USE [master]
GO

SELECT *FROM Catalogy
GO

SELECT *FROM Product
GO